---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

I have served as a <strong>Teaching Assistant at York University</strong>, contributing to both undergraduate and graduate-level courses.

My teaching experience includes <strong>Advanced Satellite Positioning</strong>, <strong>Fundamentals of Surveying</strong>, and <strong>Exploring the Solar System</strong>, among others.

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
